.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-color: #A9C4D4;
  color: rgb(12, 9, 9);
}

.titulo-central {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Opcional: para cortar con "..." si se desborda */
  font-size: 2rem; /* Ajustá según tu diseño */
}

.globe-section {
  position: relative;
  width: 100%;
  text-align: center;
}

.logo-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-section {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
}

.primary-button {
  padding: 15px 25px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.secondary-button {
  padding: 16px 32px;         /* Más espacio interno */
  font-size: 14px;            /* Texto más grande */
  min-width: 240px;           /* Botón más ancho */
  border: none;
  border-radius: 5px;         /* Opcional: bordes más suaves */
  cursor: pointer;
  white-space: nowrap;
}

.primary-button {
  background-color: #1e88e5;
  color: white;
}

.secondary-button {
  background-color: #e53935;
  color: white;
}